@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");

@mixin Text-Style-1 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  color: #0c2440;
}

@mixin Text-Style-2 {
  font-family: "Inter", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: center;

  color: #ffffff;
}

@mixin Text-Style-3 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  color: #ffffff;
}

@mixin Text-Style-4 {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 0em;
  color: #06bae8;
}

@mixin Text-Style-5 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 0em;
  color: black;
}
